footer {
	width: 100%;
	background-color: #a4a3a3;
	display: flex;
	justify-content: space-around;
	padding: 15px 0;
	.informaiton {
		display: flex;
		align-items: center;
		justify-content: center;
		.icons {
			font-size: 30px;
			margin-left: 15px;
			color: #0101fb;
			opacity: 1;
			cursor: pointer;
			&:hover {
				opacity: 0.5;
			}
		}
	}
}
