.containerMain {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	.leftInfo {
		img {
			max-width: 400px;
			width: 100%;
		}
	}
	.rightInfo {
		h1 {
			color: #333333;
			margin: 5px 0;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
		}
		h3 {
			color: #1a1a1a;
			font-size: 22px;
		}
		h5 {
			font-size: 18px;
			margin: 5px 0;
		}
		.instock {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 5px;
		}
		.instock > p {
			color: #054ce5;
		}
	}
}
.tel > a {
	margin-top: 5px;
	font-weight: 600;
	text-decoration: none;
	color: #1a1a1a;
	cursor: pointer;
	transition: all 0.3s ease-in;
	&:active {
		color: #333333;
	}
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
